html, body { 
    background-color: #000;
    height: 100%;
    overflow: hidden;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.logo {
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    color:white;
}

header img {
    width: 50%;
    height: auto;
}