
body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
}


.title {
    font-weight: 800;
    font-size: 2em;
    margin: 1rem 0;
    text-align: center;
}

.logo-nav {
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    font-size: 2em;
    margin:0;
    padding: 0;
}

.bg-logo {
    display: inline;
}

.bg-logo img {
    color: #FFF;
    /* background-color: tomato; */

}

.navbar-light .navbar-brand {
    color: #FFF;
}

/* .navbar {
    font-family: 'Changa One', cursive;
} */

button .navbar-light .navbar-toggler,
.navbar-light .navbar-toggler-icon{
    color:tomato;
    border-color: tomato;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active > .nav-link { 
    color: #FFF;
    font-size: 1.2rem;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-nav .nav-link:hover {
    color: tomato;
}

/** CAROUSEL **/
.carousel {
    font-family: 'Changa One', cursive;
    font-weight: 400;
}

.carousel-caption {
    margin-bottom: 5rem;
}

#carrosel img {
    height: 100vh;
    width: auto;
    max-width: 100%;
    object-fit: cover;
}

#carrosel .carousel-inner, #carrosel .carousel-item {
    height: 100vh;
}

#carrosel .carousel-item .carousel-caption {
    width: 35%;
    top: 45%;
    bottom: none;
    padding: 0;
    margin: 0 0 10% 0;
}

#carrosel .carousel-item .carousel-caption h5 {
    font-size: 2.5rem;
    font-style: italic;
}

#carrosel .carousel-item .carousel-caption p {
    font-size: 1.5rem;
}

#carrosel .carousel-indicators {
    width: 35%;
}
#carrosel .carousel-indicators li {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    outline: none;
}

/** PROMOCAO **/
#promocao {
    margin: 5rem 0;
}

#promocao .card-promo {
    position: relative;
}

#promocao .card-promo .card-promo-offer {
    position: absolute;
    bottom: 10%;
    color: #FFF;
    padding: 0 1rem;
}

#promocao .card-promo .card-promo-offer h3 {
    padding: 0;
    font-weight: 800;
}
#promocao .card-promo .card-promo-offer p {
    font-size: 1rem;
    font-weight: bold;
}

#promocao .card-promo .card-promo-price p{
    background: tomato;
    font-size: 3rem;
    font-weight: 800;
}

/** GALERIA **/
#menu {
    height: 100vh;
    display: block;
    background-image: url('./../img/bg-menu.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 1rem;
}

#menu .title {
    color: #FFF;
}

#menu .nav-pills .nav-item {
    margin: 0 1rem;
    border: 2px solid white;
    border-radius: 20px;
    font-weight: bold;
}

#menu .nav-pills .nav-item .nav-link {
    color: #fff;
    text-transform: uppercase;
    border-radius: 20px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: tomato;
}

/** GALERIA **/

#offer {
    height: 100vh;
    display: block;
    background-image: url('./../img/parallax-04.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    transform: translate3d(0px, 3.20501px, 0px);
}


#galery .mini-galery {
    width: 20%;
    height: 60px;
}

#galery .wrapper-mgalery {
    display: block;
}

#galery .mapsurl {
    display: block;
    background-color: #96928f;
    max-height: 100%;
    height: 200px;
}



footer {
    display: block;
    padding: 2rem 0;
    background-color: #23201e;
    color: #fff;
}

footer nav {
    margin: 1rem 0;
    padding: 2em 0;
    border-bottom: 1px solid #fff;
}

footer .copyr {
    padding: 1rem 0;
    margin: 1rem 0;
    text-align: center;
}